.div1{
    display: inline-block;
    width : 23%;
    height : 200px;
    background-color : green;
    margin : 10px 20px;
    text-align: center;

}

.div2{
    display: inline-block;
    width : 44%;
    height : 200px;
    background-color : blue;
    margin : 10px 20px;
    text-align: center;
}

.myspan{
       color : black ; 
       font-size: 20px; 
      
}
#main{
    width : 100%;
    margin : 0px;
    padding : 0px; 
    background-color :white;
}

.buttonclass{
background-color: lightblue;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}